@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font: normal normal 16px/1.6 sans-serif;
}

pre {
  overflow-y: auto;
}

strong {
  font-weight: bolder;
}

em {
  font-style: oblique;
}

ins {
  text-decoration: double underline;
}

ins::before,
ins::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: yellow;
}

ins::before {
  content: " [insertion start] ";
}

ins::after {
  content: " [insertion end] ";
}

del {
  text-decoration: double line-through;
}

del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: tomato;
}

del::before {
  content: " [deletion start] ";
}

del::after {
  content: " [deletion end] ";
}

s::before,
s::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

s::before {
  content: " [start of stricken text] ";
}

s::after {
  content: " [end of stricken text] ";
}

mark {
  background-color: internal value;
  color: internal value;
}

mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: tomato;
}

mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}

data:hover::after {
  content: "(" attr(value) ")";
  font-size: smaller;
}

dfn::before {
  content: "(";
}

dfn::after {
  content: ")";
}

abbr {
  display: inline;
  cursor: help;
}

address {
  font-style: normal;
}

a:link, a:visited {
  color: internal value;
  text-decoration: 0.5px dashed underline;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: internal value;
}

a:hover {
  text-decoration: underline;
  transition: 1s;
}

.syntax {
  margin: auto;
  padding: 5px 4px;
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  width: 50%;
}

.syntax figcaption {
  background-color: #222;
  color: #ccc;
  font: italic smaller sans-serif;
  padding: 3px 2px;
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
}

code {
  font: normal normal 1rem/1.6 monospace;
  color: black;
  word-wrap: break-word;
  background-color: #eee;
  border-radius: 3px;
  padding: 0 3px;
}

samp {
  font: normal normal 1rem/1.6 monospace;
  color: crimson;
  word-wrap: break-word;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

kbd {
  font: normal normal 1rem/1.6 monospace;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  padding: 2px 4px;
  white-space: nowrap;
}

var {
  font: italic bold 1rem/1.6 monospace;
}

iframe {
  border: none;
}

button {
  min-width: 44px;
  min-height: 44px;
}

/* TODO: AZ AKTUÁLIS PROJEKT ITT KEZDŐDIK */
#index {
  background-color: #00539F;
}
#index div {
  width: 80%;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 1.25em 1.25em 1.25em;
  border: 5px solid black;
}
#index div h1 {
  margin: 0;
  padding: 1.25em 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
  font-size: 3.75rem;
  text-align: center;
}
#index div h2, #index div h3, #index div h4, #index div h5, #index div h6 {
  margin: 1em 0;
}
#index div p, #index div li {
  line-height: 2;
  letter-spacing: 1px;
}
#index div ol, #index div ul {
  margin-left: 1em;
}
#index div li {
  margin-left: 2em;
}
#index div .logo {
  width: 600px;
  margin: auto;
  text-align: center;
}
#index footer {
  position: fixed;
  bottom: 1%;
  right: 1%;
}
#index footer address {
  box-shadow: 1px 1px 1px 1px white;
}
#index footer address a {
  color: red;
}

#css-bacon-fansite h1 {
  color: #66bfbf;
  font-size: 200px;
}
#css-bacon-fansite #heading:hover {
  color: red;
}
#css-bacon-fansite img:hover {
  background-color: gold;
}
#css-bacon-fansite .bacon {
  background-color: green;
}
#css-bacon-fansite .broccoli {
  background-color: red;
}
#css-bacon-fansite .circular {
  border-radius: 50%;
}
#css-bacon-fansite .box-200 {
  width: 200px;
  height: 200px;
}
#css-bacon-fansite .lightblue {
  border: solid black 10px;
  padding: 20px;
  background-color: lightblue;
}
#css-bacon-fansite .darkred {
  margin-left: 200px;
  border: solid black 20px;
  background-color: darkred;
}
#css-bacon-fansite .yellowgreen {
  margin-left: 400px;
  border: solid black 10px;
  background-color: yellowgreen;
}
#css-bacon-fansite .box-100 {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 100px;
}
#css-bacon-fansite .red {
  left: 200px;
  background-color: red;
}
#css-bacon-fansite .blue {
  right: 100px;
  background-color: blue;
}
#css-bacon-fansite .yellow {
  right: 100px;
  background-color: yellow;
}
#css-bacon-fansite .gold {
  right: 40px;
  bottom: 40px;
  background-color: gold;
  z-index: 2;
}
#css-bacon-fansite .silver {
  background-color: silver;
  right: 20px;
  bottom: 20px;
  z-index: 1;
}
#css-bacon-fansite .bronze {
  background-color: goldenrod;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}
#css-bacon-fansite .absolute-box-100 {
  position: absolute;
  width: 100px;
  height: 100px;
  border: 1px solid black;
}
#css-bacon-fansite .absolute-position {
  position: relative;
}
#css-bacon-fansite .absolute-position .pink {
  top: 200px;
  left: 200px;
  background-color: pink;
}
#css-bacon-fansite .absolute-position .purple {
  top: 100px;
  left: 100px;
  background-color: purple;
}
#css-bacon-fansite .absolute-position .orange {
  left: 0px;
  background-color: orange;
}
#css-bacon-fansite footer {
  position: fixed;
  bottom: 1%;
  right: 1%;
}
#css-bacon-fansite footer a {
  color: powderblue;
}

#css-mysite body {
  color: #40514e;
  text-align: center;
  font-family: "Merriweather", serif;
}
#css-mysite body header {
  position: relative;
  padding-top: 100px;
  background-color: #e4f9f5;
}
#css-mysite body header h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 5.625rem;
  line-height: 2;
}
#css-mysite body header .cloud__top {
  position: absolute;
  top: 40px;
  right: 300px;
}
#css-mysite body header .cloud__bottom {
  position: absolute;
  bottom: 300px;
  left: 250px;
}
#css-mysite body .intro {
  width: 30%;
  margin: auto;
}
#css-mysite body h2, #css-mysite body h3 {
  font-family: "Montserrat", sans-serif;
}
#css-mysite body h2 {
  padding-bottom: 10px;
  font-size: 2.5rem;
  font-weight: normal;
}
#css-mysite body h1, #css-mysite body h2 {
  color: #66bfbf;
}
#css-mysite body h3, #css-mysite body a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}
#css-mysite body a {
  margin: 10px 20px;
  text-decoration: none;
}
#css-mysite body a:hover {
  color: #eaf6f6;
}
#css-mysite body p {
  line-height: 2;
}
#css-mysite body hr {
  width: 4%;
  margin: 100px auto;
  border: 6px dotted #eaf6f6;
  border-bottom: none;
}
#css-mysite body main {
  margin: 100px 0;
}
#css-mysite body main .skill-left {
  text-align: left;
}
#css-mysite body main .skill-right {
  text-align: right;
}
#css-mysite body main .skill-row {
  width: 50%;
  margin: 100px auto;
  /*
  .clear-left {
    clear: left;
  }

  .clear-right {
    clear: right;
  }
  */
}
#css-mysite body main .skill-row .computer {
  float: left;
  margin-right: 30px;
}
#css-mysite body main .skill-row .chilli {
  float: right;
  margin-left: 30px;
}
#css-mysite body .img {
  width: 15%;
}
#css-mysite body aside .contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
#css-mysite body aside .btn {
  display: inline-block;
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
#css-mysite body aside .btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
#css-mysite body footer {
  padding: 50px 0 20px;
  background-color: #66bfbf;
}
#css-mysite body footer .copyright {
  color: #eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}

#bootstrap-tindog body {
  font-family: "Montserrat", sans-serif;
  /* Download Buttons */
  /* Features Section */
  /* Testimonial Section */
  /* Pricing Section */
  /* CTA Section */
  /* Footer Section */
}
#bootstrap-tindog body h2 {
  font: normal bold 3rem/1.5 "Montserrat", sans-serif;
}
#bootstrap-tindog body h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
#bootstrap-tindog body p {
  color: #8f8f8f;
}
#bootstrap-tindog body a {
  text-decoration: none;
}
#bootstrap-tindog body .download-button {
  margin: 5% 3% 5% 0;
}
#bootstrap-tindog body #title {
  background-color: #ff4c68;
  color: #fff;
  /* Navigation Bar */
}
@media (max-width: 1028px) {
  #bootstrap-tindog body #title {
    text-align: center;
  }
}
#bootstrap-tindog body #title .navbar {
  padding: 0 0 4.5rem;
}
#bootstrap-tindog body #title .navbar .navbar-brand {
  font: normal bold 2.5rem "Ubuntu", sans-serif;
}
#bootstrap-tindog body #title .navbar .nav-item {
  padding: 0 18px;
}
#bootstrap-tindog body #title .navbar .nav-item .nav-link {
  font: normal 300 1.2rem "Montserrat", sans-serif;
}
#bootstrap-tindog body #title .container-fluid {
  padding: 3% 15% 7%;
  /* Title Image */
}
#bootstrap-tindog body #title .container-fluid h1 {
  font: normal 900 3rem/1.5 "Montserrat", sans-serif;
}
#bootstrap-tindog body #title .container-fluid figure {
  width: 60%;
  margin: 0 auto;
}
#bootstrap-tindog body #title .container-fluid figure .title-image {
  transform: rotate(25deg);
  position: absolute;
  left: 60%;
  bottom: -40%;
  overflow: hidden;
}
@media (max-width: 1028px) {
  #bootstrap-tindog body #title .container-fluid figure .title-image {
    position: static;
    transform: rotate(0);
  }
}
#bootstrap-tindog body #features {
  position: relative;
  padding: 7% 15%;
  background-color: #fff;
  z-index: 1;
}
#bootstrap-tindog body #features .feature-box {
  padding: 5%;
  text-align: center;
}
#bootstrap-tindog body #features .feature-box .icon {
  margin-bottom: 1rem;
  color: #ef8172;
}
#bootstrap-tindog body #features .feature-box .icon:hover {
  color: #ff4c68;
}
#bootstrap-tindog body #testimonials {
  background-color: #ef8172;
  color: #fff;
  text-align: center;
}
#bootstrap-tindog body #testimonials .carousel-item {
  padding: 7% 15%;
}
#bootstrap-tindog body #testimonials .testimonial-image {
  width: 10%;
  margin: 20px;
  border-radius: 100%;
}
#bootstrap-tindog body #press {
  padding-bottom: 3%;
  background-color: #ef8172;
  text-align: center;
}
#bootstrap-tindog body #press .press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}
#bootstrap-tindog body #pricing {
  padding: 100px;
  background-color: #fff;
  text-align: center;
}
#bootstrap-tindog body #pricing .pricing-column {
  padding: 3% 2%;
}
#bootstrap-tindog body #cta {
  padding: 7% 15%;
  background-color: #ff4c68;
  color: #fff;
  text-align: center;
}
#bootstrap-tindog body #cta .cta-heading {
  font: normal 900 3.5rem/1.5 "Montserrat", sans-serif;
}
#bootstrap-tindog body #footer {
  padding: 7% 15%;
  background-color: #fff;
  text-align: center;
}
#bootstrap-tindog body #footer .social-icon {
  margin: 20px 10px;
}

#js-sandbox .btn:active {
  color: red;
}
#js-sandbox .invisible {
  visibility: hidden;
}
#js-sandbox .huge {
  font-size: 10rem;
  font-weight: bold;
}

#js-dice-game {
  background-color: #393E46;
}
#js-dice-game .container {
  width: 70%;
  margin: auto;
  text-align: center;
}
#js-dice-game .container header {
  margin: 5em;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
#js-dice-game .container header .logo {
  width: 5em;
}
#js-dice-game .container h1 {
  margin: 30px;
  font-family: "Lobster", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}
#js-dice-game .container .dice {
  text-align: center;
  display: inline-block;
}
#js-dice-game .container figcaption {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: "Indie Flower", cursive;
}
#js-dice-game .container img {
  width: 80%;
}

#js-drum-kit {
  text-align: center;
  background-color: #283149;
}
#js-drum-kit h1 {
  color: #dbedf3;
  font-family: "Arvo", cursive;
  font-size: 4rem;
  text-shadow: 3px 0 #da0463;
}
#js-drum-kit .set {
  margin: 10% auto;
}
#js-drum-kit .set .drum {
  outline: none;
  border: 10px solid #404B69;
  font-size: 5rem;
  font-family: "Arvo", cursive;
  line-height: 2;
  font-weight: 900;
  color: #DA0463;
  text-shadow: 3px 0 #DBEDF3;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
}
#js-drum-kit .set .w {
  background: #fff url("../images/tom1.png") no-repeat center;
  background-size: contain;
}
#js-drum-kit .set .a {
  background: #fff url("../images/tom2.png") no-repeat center;
  background-size: contain;
}
#js-drum-kit .set .s {
  background: #fff url("../images/tom3.png") no-repeat center;
  background-size: contain;
}
#js-drum-kit .set .d {
  background: #fff url("../images/tom4.png") no-repeat center;
  background-size: contain;
}
#js-drum-kit .set .j {
  background: #fff url("../images/snare.png") no-repeat center;
  background-size: contain;
}
#js-drum-kit .set .k {
  background: #fff url("../images/crash.png") no-repeat center;
  background-size: contain;
}
#js-drum-kit .set .l {
  background: #fff url("../images/kick.png") no-repeat center;
  background-size: contain;
}
#js-drum-kit .game-over {
  background-color: red;
  opacity: 0.8;
}
#js-drum-kit .pressed {
  box-shadow: 0 3px 4px 0 #dbedf3;
  opacity: 0.5;
}
#js-drum-kit .red {
  color: red;
}
#js-drum-kit footer {
  position: fixed;
  bottom: 1%;
  left: 1%;
  margin-top: 5%;
  text-align: center;
}
#js-drum-kit footer a {
  color: #dbedf3;
  font-family: sans-serif;
}

#jquery-simon-game {
  text-align: center;
  background-color: #011F3F;
}
#jquery-simon-game #level-title {
  font-family: "Press Start 2P", cursive;
  font-size: 3rem;
  margin: 5%;
  color: #FEF2BF;
}
#jquery-simon-game .container {
  display: block;
  width: 50%;
  margin: auto;
}
#jquery-simon-game .btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
#jquery-simon-game .game-over {
  background-color: red;
  opacity: 0.8;
}
#jquery-simon-game .red {
  background-color: red;
}
#jquery-simon-game .green {
  background-color: green;
}
#jquery-simon-game .blue {
  background-color: blue;
}
#jquery-simon-game .yellow {
  background-color: yellow;
}
#jquery-simon-game .pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

/*# sourceMappingURL=style.css.map */
