@import 'reset';

#index {
  background-color: #00539F;

  div {
    width: 80%;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 1.25em 1.25em 1.25em;
    border: 5px solid black;

    h1 {
      margin: 0;
      padding: 1.25em 0;
      color: #00539F;
      text-shadow: 3px 3px 1px black;
      font-size: 3.75rem;
      text-align: center;
    }
    
    h2, h3, h4, h5, h6 {
      margin: 1em 0;
    }

    p, li {
      line-height: 2;
      letter-spacing: 1px;
    }

    ol, ul {
      margin-left: 1em;
    }

    li {
      margin-left: 2em;
    }

    .logo {
      width: 600px;
      margin: auto;
      text-align: center;
    }
  }

  footer {
    position: fixed;
    bottom: 1%;
    right: 1%;

    address {
      box-shadow: 1px 1px 1px 1px white;

      a {
        color: red;
      }
    }  
  }
}

#css-bacon-fansite {

  h1 {
    color: #66bfbf;
    font-size: 200px;
  }

  #heading:hover {
    color: red;
  }

  img:hover {
    background-color: gold;
  }

  .bacon {
    background-color: green;
  }

  .broccoli {
    background-color: red;
  }

  .circular {
    border-radius: 50%;
  }

  .box-200 {
    width: 200px;
    height: 200px;
  }

  .lightblue {
    border: solid black 10px;
    padding: 20px;
    background-color: lightblue;
  }

  .darkred {
    margin-left: 200px; // 260px with content-box sizing
    border: solid black 20px;
    background-color: darkred;
  }

  .yellowgreen {
    margin-left: 400px; // 500px with content-box sizing
    border: solid black 10px;
    background-color: yellowgreen;
  }

  .box-100 {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }

  .red {
    left: 200px;
    background-color: red;
  }

  .blue {
    right: 100px;
    background-color: blue;
  }

  .yellow {
    right: 100px;
    background-color: yellow;
  }

  .absolute-box-100 {
    position: absolute;
    width: 100px;
    height: 100px;
  }

  .absolute-position {
    position: relative;

    .pink {
      top: 200px;
      left: 200px;
      background-color: pink;
    }
  
    .purple {
      top: 100px;
      left: 100px;
      background-color: purple;
    }
  
    .orange {
      left: 0px;
      background-color: orange;
    }
  }

  footer {
    position: fixed;
    bottom: 1%;
    right: 1%;

    a {
      color: powderblue;
    }
  }
}

#css-mysite {

/* COLORS from light to dark
  #e4f9f5 | rgb(228, 249, 245)
  #30e3ca | rgb(48, 227, 202)
  #11999e | rgb(17, 153, 158)
  #40514e | rgb(64, 81, 78)

FONT

  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Sacramento', cursive;
*/

  body {
    text-align: center;
    font-family: 'Merriweather', serif;


    header {
      position: relative;
      padding-top: 100px;
      background-color: #e4f9f5;
  
      h1 {
        margin: 50px auto 0 auto;
        font-family: 'Sacramento', cursive;
        font-size: 5.625rem;
        line-height: 2;
      }

      .cloud__top {
        position: absolute;
        top: 50px;
        right: 300px;
      }

      .cloud__bottom {
        position: absolute;
        bottom: 300px;
        left: 300px;
      }
    }

    h2, h3 {
      font-family: 'Montserrat', sans-serif;
    }
  
    h2 {
      font-size: 2.5rem;
      font-weight: normal;
    }

    h1, h2 {
      color: #66bfbf;
    }

    h3, a {
      color: #11999e;
    }

    p {
      line-height: 2;
    }

    hr {
      width: 4%;
      margin: 100px auto;
      border: 6px dotted #eaf6f6;
      border-bottom: none;
    }

  main {
    .skill-left {
      text-align: left;
    }

    .skill-right {
      text-align: right;
    }

    .skill-row {
      width: 50%;
      margin: 100px auto;

      .computer {
        float: left;
        margin-right: 30px;
      }

      .chilli {
        float: right;
        margin-left: 30px;
      }

      /*
      .clear-left {
        clear: left;
      }

      .clear-right {
        clear: right;
      }
      */
    }
  }

  .img {
    width: 15%;
  }

  aside {
    .contact-message {
      width: 40%;
      margin: 40px auto 60px;
    }

    .btn {
      display: inline-block;
      background: #11cdd4;
      background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
      background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
      background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
      background-image: -o-linear-gradient(top, #11cdd4, #11999e);
      background-image: linear-gradient(to bottom, #11cdd4, #11999e);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: 'Montserrat', sans-serif;;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;

      &:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }
    }
  }

  }
}