@import 'reset';

#index {
  background-color: #00539F;

  div {
    width: 80%;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 1.25em 1.25em 1.25em;
    border: 5px solid black;

    h1 {
      margin: 0;
      padding: 1.25em 0;
      color: #00539F;
      text-shadow: 3px 3px 1px black;
      font-size: 3.75rem;
      text-align: center;
    }
    
    h2, h3, h4, h5, h6 {
      margin: 1em 0;
    }

    p, li {
      line-height: 2;
      letter-spacing: 1px;
    }

    ol, ul {
      margin-left: 1em;
    }

    li {
      margin-left: 2em;
    }

    .logo {
      width: 600px;
      margin: auto;
      text-align: center;
    }
  }

  footer {
    position: fixed;
    bottom: 1%;
    right: 1%;

    address {
      box-shadow: 1px 1px 1px 1px white;

      a {
        color: red;
      }
    }  
  }
}

#css-bacon-fansite {

  h1 {
    color: #66bfbf;
    font-size: 200px;
  }

  #heading:hover {
    color: red;
  }

  img:hover {
    background-color: gold;
  }

  .bacon {
    background-color: green;
  }

  .broccoli {
    background-color: red;
  }

  .circular {
    border-radius: 50%;
  }

  .box-200 {
    width: 200px;
    height: 200px;
  }

  .lightblue {
    border: solid black 10px;
    padding: 20px;
    background-color: lightblue;
  }

  .darkred {
    margin-left: 200px; // 260px with content-box sizing
    border: solid black 20px;
    background-color: darkred;
  }

  .yellowgreen {
    margin-left: 400px; // 500px with content-box sizing
    border: solid black 10px;
    background-color: yellowgreen;
  }

  .box-100 {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
  }

  .red {
    left: 200px;
    background-color: red;
  }

  .blue {
    right: 100px;
    background-color: blue;
  }

  .yellow {
    right: 100px;
    background-color: yellow;
  }

  .gold {
    right: 40px;
    bottom: 40px;
    background-color: gold;
    z-index: 2;
  }

  .silver {
    background-color: silver;
    right: 20px;
    bottom: 20px;
    z-index: 1;
  }

  .bronze {
    background-color: goldenrod;
    right: 0px;
    bottom: 0px;
    z-index: 0;
  }

  .absolute-box-100 {
    position: absolute;
    width: 100px;
    height: 100px;
    border: 1px solid black;
  }

  .absolute-position {
    position: relative;

    .pink {
      top: 200px;
      left: 200px;
      background-color: pink;
    }
  
    .purple {
      top: 100px;
      left: 100px;
      background-color: purple;
    }
  
    .orange {
      left: 0px;
      background-color: orange;
    }
  }

  footer {
    position: fixed;
    bottom: 1%;
    right: 1%;

    a {
      color: powderblue;
    }
  }
}

#css-mysite {

  body {
    color: #40514e;
    text-align: center;
    font-family: 'Merriweather', serif;


    header {
      position: relative;
      padding-top: 100px;
      background-color: #e4f9f5;
  
      h1 {
        margin: 50px auto 0 auto;
        font-family: 'Sacramento', cursive;
        font-size: 5.625rem;
        line-height: 2;
      }

      .cloud__top {
        position: absolute;
        top: 40px;
        right: 300px;
      }

      .cloud__bottom {
        position: absolute;
        bottom: 300px;
        left: 250px;
      }
    }

    .intro {
      width: 30%;
      margin: auto;
    }

    h2, h3 {
      font-family: 'Montserrat', sans-serif;
    }
  
    h2 {
      padding-bottom: 10px;
      font-size: 2.5rem;
      font-weight: normal;
    }

    h1, h2 {
      color: #66bfbf;
    }

    h3, a {
      color: #11999e;
      font-family: 'Montserrat', sans-serif;
    }

    a {
      margin: 10px 20px;
      text-decoration: none;

      &:hover {
        color: #eaf6f6;
      }
    }

    p {
      line-height: 2;
    }

    hr {
      width: 4%;
      margin: 100px auto;
      border: 6px dotted #eaf6f6;
      border-bottom: none;
    }

  main {
    margin: 100px 0;

    .skill-left {
      text-align: left;
    }

    .skill-right {
      text-align: right;
    }

    .skill-row {
      width: 50%;
      margin: 100px auto;

      .computer {
        float: left;
        margin-right: 30px;
      }

      .chilli {
        float: right;
        margin-left: 30px;
      }

      /*
      .clear-left {
        clear: left;
      }

      .clear-right {
        clear: right;
      }
      */
    }
  }

  .img {
    width: 15%;
  }

  aside {
    .contact-message {
      width: 40%;
      margin: 40px auto 60px;
    }

    .btn {
      display: inline-block;
      background: #11cdd4;
      background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
      background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
      background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
      background-image: -o-linear-gradient(top, #11cdd4, #11999e);
      background-image: linear-gradient(to bottom, #11cdd4, #11999e);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: 'Montserrat', sans-serif;;
      color: #ffffff;
      font-size: 20px;
      padding: 10px 20px 10px 20px;
      text-decoration: none;

      &:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
        text-decoration: none;
      }
    }
  }

  footer {
    padding: 50px 0 20px;
    background-color: #66bfbf;

    .copyright {
      color: #eaf6f6;
      font-size: 0.75rem;
      padding: 20px 0;
    }
  }

  }
}

#bootstrap-tindog {

  @mixin tindog-max1028px {
    @media (max-width: 1028px) { @content; }
  }

  body {
    font-family: 'Montserrat', sans-serif;

    h2 {
      font: normal bold 3rem/1.5 'Montserrat', sans-serif;
    }

    h3 {
      font-family: 'Montserrat', sans-serif;
      font-weight: bold;
    }

    p {
      color: #8f8f8f;
    }

    a {
      text-decoration: none;
    }
  
    /* Download Buttons */

    .download-button {
      margin: 5% 3% 5% 0;
    }

    #title {
      background-color: #ff4c68;
      color: #fff;

      @include tindog-max1028px {
        text-align: center;
      }

      /* Navigation Bar */

      .navbar {
        padding: 0 0 4.5rem;

        .navbar-brand {
          font: normal bold 2.5rem 'Ubuntu', sans-serif;
        }

        .nav-item {
          padding: 0 18px;

          .nav-link {
            font: normal 300 1.2rem 'Montserrat', sans-serif;
          }
        }
      }

      .container-fluid {
        padding: 3% 15% 7%;
  
        h1 {
          font: normal 900 3rem/1.5 'Montserrat', sans-serif;
        }

        /* Title Image */

        figure {
          width: 60%;
          margin: 0 auto;

          .title-image {
            transform: rotate(25deg);
            position: absolute;
            left: 60%;
            bottom: -40%;
            overflow: hidden;
  
            @include tindog-max1028px {
              position: static;
              transform: rotate(0);
            }
          }
        }
      }
    }

    /* Features Section */

    #features {
      position: relative;
      padding: 7% 15%;
      background-color: #fff;
      z-index: 1;

      .feature-box {
        padding: 5%;
        text-align: center;

        .icon {
          margin-bottom: 1rem;
          color: #ef8172;

          &:hover {
            color: #ff4c68;
          }
        }
      }
    }

    /* Testimonial Section */

    #testimonials {
      background-color: #ef8172;
      color: #fff;
      text-align: center;

      .carousel-item {
        padding: 7% 15%;
      }

      .testimonial-image {
        width: 10%;
        margin: 20px;
        border-radius: 100%;
      }
    }

    #press {
      padding-bottom: 3%;
      background-color: #ef8172;
      text-align: center;

      .press-logo {
        width: 15%;
        margin: 20px 20px 50px;
      }
    }

    /* Pricing Section */

    #pricing {
      padding: 100px;
      background-color: #fff;
      text-align: center;

      .pricing-column {
        padding: 3% 2%;
      }
    }

    /* CTA Section */

    #cta {
      padding: 7% 15%;
      background-color: #ff4c68;
      color: #fff;
      text-align: center;

      .cta-heading {
        font: normal 900 3.5rem/1.5 'Montserrat', sans-serif;
      }
    }

    /* Footer Section */

    #footer {
      padding: 7% 15%;
      background-color: #fff;
      text-align: center;

      .social-icon {
        margin: 20px 10px;
      }
    }
  }
}

#js-dice-game {
  background-color: #393E46;

  .container {
    width: 70%;
    margin: auto;
    text-align: center;

    header {
      margin: 5em;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      align-content: center;

      .logo {
        width: 5em;
      }
    }

    h1 {
      margin: 30px;
      font-family: 'Lobster', cursive;
      text-shadow: 5px 0 #232931;
      font-size: 8rem;
      color: #4ECCA3;
    }

    .dice {
      text-align: center;
      display: inline-block;
    }

    figcaption {
      font-size: 2rem;
      color: #4ECCA3;
      font-family: 'Indie Flower', cursive;
    }
    
    img {
      width: 80%;
    }
  }
}

#js-drum-kit {
  text-align: center;
  background-color: #283149;

  h1 {
    color: #dbedf3;
    font-family: "Arvo", cursive;
    font-size: 4rem;
    text-shadow: 3px 0 #da0463;
  }

  .set {
    margin: 10% auto;

    .drum {
      outline: none;
      border: 10px solid #404B69;
      font-size: 5rem;
      font-family: 'Arvo', cursive;
      line-height: 2;
      font-weight: 900;
      color: #DA0463;
      text-shadow: 3px 0 #DBEDF3;
      border-radius: 15px;
      display: inline-block;
      width: 150px;
      height: 150px;
      text-align: center;
      margin: 10px;
    }
    
    .w {
      background: #fff url('../images/tom1.png') no-repeat center;
      background-size: contain;
    }
    
    .a {
      background: #fff url('../images/tom2.png') no-repeat center;
      background-size: contain;
    }
    
    .s {
      background: #fff url('../images/tom3.png') no-repeat center;
      background-size: contain;
    }
    
    .d {
      background: #fff url('../images/tom4.png') no-repeat center;
      background-size: contain;
    }
    
    .j {
      background: #fff url('../images/snare.png') no-repeat center;
      background-size: contain;
    }
    
    .k {
      background: #fff url('../images/crash.png') no-repeat center;
      background-size: contain;
    }
    
    .l {
      background: #fff url('../images/kick.png') no-repeat center;
      background-size: contain;
    }
  }

  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .pressed {
    box-shadow: 0 3px 4px 0 #dbedf3;
    opacity: 0.5;
  }
  
  .red {
    color: red;
  }

  footer {
    position: fixed;
    bottom: 1%;
    left: 1%;
    margin-top: 5%;
    text-align: center;

    a {
      color: #dbedf3;
      font-family: sans-serif;
    }
  }
}

#jquery-dom {

  .btn:active {
    color: red;
  }

  .invisible {
    visibility: hidden;
  }

  .huge {
    color: yellow;
    font-family: cursive;
    font-size: 10rem;
    font-weight: bold;
  }

  .margin-50 {
    margin: 50px;
  }
}

#jquery-simon-game {
  text-align: center;
  background-color: #011F3F;

  #level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 3rem;
    margin:  5%;
    color: #FEF2BF;
  }

  .container {
    display: block;
    width: 50%;
    margin: auto;
  
  }
  
  .btn {
    margin: 25px;
    display: inline-block;
    height: 200px;
    width: 200px;
    border: 10px solid black;
    border-radius: 20%;
  }
  
  .game-over {
    background-color: red;
    opacity: 0.8;
  }
  
  .red {
    background-color: red;
  }
  
  .green {
    background-color: green;
  }
  
  .blue {
    background-color: blue;
  }
  
  .yellow {
    background-color: yellow;
  }
  
  .pressed {
    box-shadow: 0 0 20px white;
    background-color: grey;
  }
}

#es6-sandbox {
  .classified,
  .classified_3 {
    padding: 10px;
    color: crimson;
    border: 1px dotted crimson;
  }

  .classified_2,
  .classified_4 {
    padding: 10px;
    color: limegreen;
    border: 1px dotted limegreen;
  }

  .click__todo li {
    list-style-type: none;
    max-width: 200px;
    margin: 8px auto;
    border: 1px dotted #ddd;
    padding: 8px;
    background-color: #eee;
  }

  .box {
    width: 200px;
    height: 200px;
    margin: 10px 0;
    padding: 20px;
    background-color: #ccc;
    text-align: center;
  }

  .signup-form {
    max-width: 200px;
    margin: 40px auto;
    padding: 10px;
    background: linear-gradient(45deg, #eee, #fff);

    input {
      display: block;
      margin: 10px auto;
      padding: 4px;
    }

    input {
        display: block;
        margin: 10px auto;
        padding: 4px;
      }
  
      .success {
        border: 2px solid limegreen;
      }
  
      .error {
        border: 2px solid crimson;
      }
    }
}

#es6-todo-list {

  body {
    background: #352f5b;

    .container {
      width: 50%;
    }
  
    input[type=text],
    input[type=text]:focus {
      color: #fff;
      border: none;
      background: rgba(0,0,0,0.2);
      width: 100%;
    }
  
    .todos li {
      background: #423a6f;
      margin: .5em;
      color: #fff;
    }
  
    .delete {
      cursor: pointer;
    }
  
    .filtered {
      display: none !important;
    }
  }
}

#es6-pop-up {
  .popup-wrapper {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

    .popup {
      position: relative;
      width: min(100%, 300px);
      margin: 10% auto;
      padding: 20px;
      background-color: #fff;
      font-family: 'Poppins', sans-serif;
      text-align: center;

      .popup-close {
        position: absolute;
        top: 5px;
        right: 8px;
        cursor: pointer;
      }
    }
  }

  .popup-btn {
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    background: crimson;
    border: none;
    padding: 6px 10px;
    text-decoration: none;
  }

  footer {
    position: fixed;
    bottom: 1%;
    right: 1%;
  }
}

#es6-digital-clock {

  body {
    background: #333;
  
    .clock {
      margin: 200px auto;
      color: yellow;
      font-family: 'Tourney', cursive;
      font-weight: bolder;
      font-size: 4em;
      text-align: center;
  
      span {
        padding: 20px;
        background: #444;
      }
    }
  }
}