@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font: normal normal 16px/1.6 sans-serif;
}

pre {
  overflow-y: auto;
}

strong {
  font-weight: bolder;
}

em {
  font-style: oblique;
}

ins {
  text-decoration: double underline;
}

ins::before,
ins::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: yellow;
}

ins::before {
  content: " [insertion start] ";
}

ins::after {
  content: " [insertion end] ";
}

del {
  text-decoration: double line-through;
}

del::before,
del::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: tomato;
}

del::before {
  content: " [deletion start] ";
}

del::after {
  content: " [deletion end] ";
}

s::before,
s::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

s::before {
  content: " [start of stricken text] ";
}

s::after {
  content: " [end of stricken text] ";
}

mark {
  background-color: internal value;
  color: internal value;
}

mark::before,
mark::after {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  background-color: tomato;
}

mark::before {
  content: " [highlight start] ";
}

mark::after {
  content: " [highlight end] ";
}

data:hover::after {
  content: "(" attr(value) ")";
  font-size: smaller;
}

dfn::before {
  content: "(";
}

dfn::after {
  content: ")";
}

abbr {
  display: inline;
  cursor: help;
}

address {
  font-style: normal;
}

a:link, a:visited {
  color: internal value;
  text-decoration: 0.5px dashed underline;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: internal value;
}

a:hover {
  text-decoration: underline;
  transition: 1s;
}

.syntax {
  margin: auto;
  padding: 5px 4px;
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  width: 50%;
}

.syntax figcaption {
  background-color: #222;
  color: #ccc;
  font: italic smaller sans-serif;
  padding: 3px 2px;
  text-align: center;
}

img {
  display: inline-block;
  max-width: 100%;
}

code {
  font: normal normal 1rem/1.6 monospace;
  color: black;
  word-wrap: break-word;
  background-color: #eee;
  border-radius: 3px;
  padding: 0 3px;
}

samp {
  font: normal normal 1rem/1.6 monospace;
  color: crimson;
  word-wrap: break-word;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

kbd {
  font: normal normal 1rem/1.6 monospace;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #b4b4b4;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  color: #333;
  display: inline-block;
  padding: 2px 4px;
  white-space: nowrap;
}

var {
  font: italic bold 1rem/1.6 monospace;
}

iframe {
  border: none;
}

button {
  min-width: 44px;
  min-height: 44px;
}

/* TODO: AZ AKTUÁLIS PROJEKT ITT KEZDŐDIK */
#index {
  background-color: #00539F;
}
#index div {
  width: 80%;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 1.25em 1.25em 1.25em;
  border: 5px solid black;
}
#index div h1 {
  margin: 0;
  padding: 1.25em 0;
  color: #00539F;
  text-shadow: 3px 3px 1px black;
  font-size: 3.75rem;
  text-align: center;
}
#index div h2, #index div h3, #index div h4, #index div h5, #index div h6 {
  margin: 1em 0;
}
#index div p, #index div li {
  line-height: 2;
  letter-spacing: 1px;
}
#index div ol, #index div ul {
  margin-left: 1em;
}
#index div li {
  margin-left: 2em;
}
#index div .logo {
  width: 600px;
  margin: auto;
  text-align: center;
}
#index footer {
  position: fixed;
  bottom: 1%;
  right: 1%;
}
#index footer address {
  box-shadow: 1px 1px 1px 1px white;
}
#index footer address a {
  color: red;
}

/*# sourceMappingURL=style.css.map */
